
body, html {
    height: 100%;

  }
.bg {
  background-image: url("http://localhost:3000/baa15");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

//
//'https://www.soyuz.ru/public/uploads/files/6/7400625/202001241819119388e47554.jpg'
//https://images11.esquire.ru/upload/img_cache/4ac/4accf84e4233b4bea7ff25a3531d5041_ce_4724x2947x0x0_cropped_960x600.jpg